.pageContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.pag-btn {
  width: 20px;
  height: 20px;
  font-size: 10px;
  background-color: #fff;
  border: solid 1px #000107;
}

.onBlack {
  background-color: #000107;
  color: #fff;
}

.unvisible {
  visibility: hidden;
}

.checked {
  background-color: #000107;
  color: #fff;
}

.pag-btn:hover {
  background-color: #000107;
  color: #fff;
}

.more-btn {
  display: block;
  width: 100px;
  height: 20px;
  background-color: #ff6b08;
  border: none;
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
}

@media (min-width: 768px) {
  .pag-btn {
    width: 40px;
    height: 40px;
    font-size: 12px;
  }
  .more-btn {
    width: 140px;
    height: 40px;
    font-size: 12px;
  }
}
@media (min-width: 1280px) {
  .pag-btn {
    width: 60px;
    height: 60px;
    font-size: 15px;
  }
  .more-btn {
    width: 294px;
    height: 60px;
    font-size: 15px;
  }
}
