.categories-item {
    position: relative;
    background-color: #f4f6fb;
    border-top: 1px solid rgba(206, 210, 209, 0.5);
    padding-top: 50px;
    padding-bottom: 30px;
  }
  
  .categories-item-overlay-title {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    left: 80px;
    top: 15px;
  }
  .categories-item-title {
    margin-right: 30px;
    font-weight: bold;
    font-size: 13px;
  }
  .categories-item-btn-showall {
    color: #ff6b08;
    font-weight: normal;
    font-size: 13px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
    /* outline: none; */
  }
  .categories-item-btn-slider {
    padding: 0 10px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 0;
    display: flex;
    justify-content: space-between;
  }
  .categories-item-btn-slider button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    outline: none;
  
  }
  .categories-item-btn-slider button:hover{
    background-color: #ff6b08;
  
  }
  .categories-item-listcards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .listcards-itemcard {
    width: 295px;
    height: 350px;
    margin-bottom: 20px;
  }