/* .card {
  width: 297px;
} */

.itemCard {
  background-color: #fff;
  width: 295px;
  border: none;

  list-style: none;
}

.itemTitle {
  background-color: #fff;
  margin: 0;
  font-size: 13px;
  color: #202121;
}

.itemPrice {
  background-color: #fff;
  margin: 0;
  font-size: 15px;
}

.itemInfo {
  /* margin-left: 20px;
  margin-bottom: 20px; */
  padding: 20px;
  width: 295px;
  height: 76px;
}

.itemImage {
  background-position: center;
  display: block;
  width: 295px;
  height: 275px;
  object-fit: cover;
  /* margin-bottom: 17px; */
}

.imageContainer {
  position: relative;
  width: 295px;
  height: 100%;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 275px;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000000;
}

.imageContainer:hover .overlay {
  opacity: 0.5;
}

.overlayIcons {
  border: none;
}

.favorite {
  fill: white;
  background-position: center;
  background-repeat: no-repeat;
  width: 115px;
  height: 116px;
  filter: invert(1);
}

.open {
  background-position: center;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  filter: invert(1);
}

.overlayButton {
  border: none;
}

img {
  width: 100%;
}
