<div class="modal" data-modal="1">
    <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path
            d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z" />
    </svg>
    <img src="{{images}}" alt="">

    <div class="wrapper">
        <h2 class="title__name">{{title}}</h2>
        <p class="title__price">{{price}} грн</p>

        <button class="btn-buy">Купити</button>
        <div><a class="favorites" href="#">В обране</a>
            <a class="share"
                href="https://www.google.com/webhp?hl=ru&sa=X&ved=0ahUKEwibseqNpZ7mAhXvkIsKHb79CxwQPAgH">Поділитися</a>
            <h3 class="descripton-title">Опис</h3>
        </div>
        <p class="description">{{description}}</p>
    </div>
    <div class="overlay"></div>
</div>