{{#each this}}
<li class="ads_item" data-id="{{_id}}">
    <img class="ads_item-photo" src="{{images}}" alt="product photo" width="200">
    <p class="ads_item-description">{{description}}</p>
    <button class="ads_item-btn">Удалить</button>
</li>
{{/each}}