html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

.lightbox {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms linear;
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.lightbox__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 280px;
  height: auto;
  padding: 20px;
  transition: transform 200ms ease-in-out;
  background-color: #fff;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
    0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 4px;
  overflow: scroll;
}

.lightbox.is-open .lightbox__content {
  transform: scale(1);
}

.lightbox__button {
  position: absolute;
  top: 8px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
  outline: none;
}

.lightbox__button i {
  font-size: 24px;
}

.lightbox__button:hover,
.lightbox__button:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.lightbox__wrapper {
  padding: 20px 0 20px;
  box-shadow: 0 0 3px #363738;
  cursor: pointer;
}

.lightbox__title {
  font-family: 'Montserrat';
  color: rgb(0, 0, 0);
  line-height: 1.2;
  font-weight: 700;
  font-size: 16px;
  position: relative;
  padding-left: 50px;
}

.lightbox__title-ads::before {
  display: block;
  content: '';
  position: absolute;
  top: -5px;
  left: 12px;
  width: 30px;
  height: 30px;
  background-image: url('../../img/edit-24px.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.lightbox__title-fav::before {
  display: block;
  content: '';
  position: absolute;
  top: -5px;
  left: 12px;
  width: 30px;
  height: 30px;
  background-image: url('../../img/favorite-heart.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.ads_acc,
.favorites_acc {
  padding: 0 20px 0;
}

.ads_item {
  margin-top: 20px;
  border-bottom: 1px solid rgb(135, 134, 134);
}

.ads_item:not(:last-of-type) {
  margin-bottom: 20px;
}

.ads_item-photo {
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.ads_item-title {
  text-align: left;
  font-size: 16px;
  font-family: 'Roboto';
  color: rgb(32, 33, 33);
  line-height: 1.2;
  margin-bottom: 10px;
}

.ads_item-description {
  text-align: left;
  font-size: 14px;
  font-family: 'Roboto';
  color: rgb(32, 33, 33);
  line-height: 1.2;
  margin-bottom: 10px;
}

.ads_item-price {
  text-align: left;
  font-size: 16px;
  font-family: 'Roboto';
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 18px;
}

.ads_item-btn,
.ads_item-btn-edit {
  display: inline-block;
  font-size: 12px;
  font-family: 'Roboto';
  color: rgb(135, 134, 134);
  line-height: 1.2;
  height: 30px;
  padding-right: 20px;
  position: relative;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.ads_item-btn {
margin-right: 30px;

}

.ads_item-btn:focus,
.ads_item-btn-edit:focus {
  outline: none;
}

.ads_item-btn::after {
  display: block;
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url('../../img/delete-24px.svg');
  top: 4px;
  left: 52px;
}

.ads_item-btn-edit::after {
  display: block;
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url('../../img/edit-24px.svg');
  top: 0;
  left: 70px;
}

.account_btn-wrapper {
  display: none;
}

.popup {
  z-index: 1000;
  display: none;
  cursor: pointer;
}

@media (min-width: 768px) {

  .account_btn-name {
    line-height: 40px;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 400;
    color: rgb(0, 0, 0);
    margin-right: 12px;
  }

  .account_btn {
    border: none;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 400;
    color: rgb(0, 0, 0);
    line-height: 1.2;
  }

  .account_btn:focus {
    outline: none;
  }

  .account_btn-wrapper {
  display: flex;
  }

  .popup {
    width: 250px;
    height: 140px;
    background-color: #fff;
    position: absolute;
    top: 86px;
    right: 208px;
  }

  .popup::before {
    display: block;
    content: '';
    position: absolute;
    border-left: 10px solid rgba(113, 101, 58, 0);
    border-right: 10px solid rgba(113, 101, 58, 0);
    border-bottom: 10px solid #fff;
    right: 36px;
    top: -10px;
  }

  .popup-enter {
    font-size: 15px;
    font-family: 'Roboto';
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    position: relative;
    padding: 26px;
  }

  .popup-enter::after {
    display: block;
    content: '';
    background-color: rgb(206, 210, 209);
    width: 251px;
    height: 1px;
    position: absolute;
    top: 70px;
    left: 0px;
  }

  .popup-exit {
    font-size: 15px;
    font-family: 'Roboto';
    color: rgb(187, 187, 187);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    padding: 26px;
    position: relative;
    cursor: pointer;
  }

  .popup-exit::after {
    display: block;
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('../../img/logout.svg');
    top: 25px;
    right: 32px;
  }

  .popup-exit-text:hover {
    width: 50px;
    border-bottom: solid 3px #ff6b08;
  }

  .lightbox__button {
    width: 36px;
    height: 36px;;
    right: 30px;
    
  }

  .lightbox__button i {
    font-size: 36px;
  }

  .lightbox__content {
    max-width: 600px;
  }

  .lightbox__title {
    font-size: 18px;
  }

  .ads_item {
    background-color: rgb(244, 246, 251);
    padding: 20px;
    border-bottom: none;
  }

  .ads_item-wrapper {
    display: flex;
  }

  .ads-item-description-wrapper {
    padding: 0 20px 0;
  }

  .ads_item-photo {
    margin: 0;
  }

  .ads_item-title {
    font-size: 18px;
  }

  .ads_item-description {
    font-size: 16px;
  }

  .ads_item-price {
    font-size: 18px;
    margin-bottom: 12px;
  }

  .ads_item-btn,
  .ads_item-btn-edit {
    font-size: 14px;
    background-color: rgb(244, 246, 251);
  }

  .ads_item-btn {
    margin-right: 40px;
  }

  .ads_item-btn::after {
    left: 65px;
  }

  .ads_item-btn-edit::after {
    left: 78px;
  }
}

@media (min-width: 1280px) {
  .account_btn-name {
    font-size: 18px;
    line-height: 50px;
  }

  .account_btn {
    font-size: 18px;
    width: 50px;
    height: 50px;
    outline: none;
    cursor: pointer;
  }

  .account_btn:hover {
    border: solid 3px #ff6b08;
  }

  .popup {
    right: 314px;
  }

  .popup-enter,
  .popup-exit {
    font-size: 17px;
  }

  .lightbox__content {
    max-width: 1000px;
  }

  .lightbox__button {
    width: 40px;
    height: 40px;
  }

  .lightbox__button i {
    font-size: 40px;
  }

  .ads_item-photo {
    width: 250px;
    height: 250px;
  }

  .lightbox__title {
    font-size: 20px;
  }

  .ads_item-title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .ads_item-description {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .ads_item-price {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .ads_item-btn,
  .ads_item-btn-edit {
    font-size: 16px;
  }

  .ads_item-btn {
  margin-right: 100px ;
  }

  .ads_item-btn::after {
    left: 74px;
  }

  .ads_item-btn-edit::after {
    left: 88px;
  }
}
