.btn-fav {
  background-image: url(../../assets/heart.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  filter: invert(1);
  transform: translate(250px, 20px);
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-size: contain;
  outline: none;
}

.addedToFavorite {
  filter: none;
  background-color: unset;
  background-image: url(../../assets/addedToFavorite.svg);
}
