/* -------------------FORM FILTER--------------------------- */
.filter {
  display: flex;
}
.price-containe {
  text-align: center;
  margin-right: 25px;
}
.cetegories-container {
  text-align: center;
  margin-right: 25px;
}

.filter_input-price-end,
.filter_input-price-start,
.categories {
  border-radius: 0;
  background: transparent;
  max-height: 34px;
  padding: 5px;
  border: 0;
  font-size: 16px;
  line-height: 1;
  -webkit-appearance: none;
  max-width: 268px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  cursor: pointer;
}

.categories {
  background-image: url(../../assets/icons8-множественный-выбор-100.png);
}

.categories:hover {
  background-color: rgba(211, 211, 211, 0.37);
}
.filter_input-price-start:hover {
  background-color: rgba(211, 211, 211, 0.37);
}
.filter_input-price-end:hover {
  background-color: rgba(211, 211, 211, 0.37);
}
.search--filter :hover {
  background-color: rgba(211, 211, 211, 0.37);
}

.search--filter {
  cursor: pointer;
}

/* ------------------------------------------------------------- */
