.filter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 20px;
  border-left: 1px solid rgb(206, 210, 209);
  margin-left: 20px;
  min-height: 70px;
}

.btnCategory {
  background-color: initial;
  border: 1px solid rgb(206, 210, 209);
  border-radius: 30px;
  cursor: pointer;
  height: 30px;
  padding-left: 18px;
  padding-right: 18px;
  margin-right: 10px;
  outline: none;
}

.btnCategory:active,
.btnCategory:hover,
.isActiveCategory {
  color: #ff6b08;
  border: 1px solid #ff6b08;
  height: 30px;
}

.categoryStyle {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
