* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
}

.modal-window-color {
  z-index: 999999999;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: scroll;
  top: 0;
  background-color: rgb(0, 0, 0, 0.702);
}

.modal {
  /* border: 1px solid black; */
  width: 290px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s all;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.title__name {
  padding-left: 20px;
  display: flex;
  font-size: 18px;
  padding-top: 55px;
  margin-bottom: 50px;
}

.exit {
  position: absolute;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  /* font-size: 20px; */
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.image-modal {
  width: 100%;
  height: 275px;
  margin-bottom: 46px;
}

.links {
  display: flex;
}

.btn-buy {
  margin: 0 auto;
  cursor: pointer;
  display: block;
  width: 250px;
  height: 50px;
  background-color: #ff6b08;
  border: none;
  color: #ffffff;
  font-size: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.title__price {
  margin-bottom: 45px;
  padding-left: 20px;
  text-align: left;
  font-size: 18px;
}

.favorites {
  display: inline-block;

  position: relative;
  margin-right: 20px;
  color: #878686;
  text-decoration: none;
  font-size: 12px;
}

.favorites {
  padding-left: 20px;
  padding-right: 80px;
}

.share {
  padding-right: 40px;
  position: relative;
  color: #878686;
  text-decoration: none;
  font-size: 12px;
}

.favorites::after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  margin-left: 5px;
  background-image: url(../img/heart.png);
  width: 20px;
  height: 20px;
}

.share::after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  margin-left: 5px;
  background-image: url(../img/share.png);
  width: 20px;
  height: 20px;
}

.description {
  margin: 0;
  width: 250px;
  font-size: 13px;
  text-align: left;
  margin-bottom: 15px;
  padding-left: 20px;
}

.descripton-title {
  text-align: left;
  font-size: 12px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.links {
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .modal-window-color {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgb(0, 0, 0, 0.702);
  }

  .modal {
    display: flex;
    width: 100%;
    max-width: 756px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;

    box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 30px;
    border-radius: 3px;
    background-color: #fff;
    transition: 0.3s all;
  }

  .exit {
    font-size: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .exit {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .modal__cross {
    width: 17px;
    height: 17px;
    position: absolute;
    top: 0;
    right: 0;
    fill: #000;
    cursor: pointer;
  }

  .image-modal {
    width: 350px;
    height: 300px;
  }

  .modal {
    display: flex;
    padding: 55px;
  }

  .btn-buy {
    margin: 0;
    cursor: pointer;
    display: block;
    width: 255px;
    height: 50px;
    background-color: #ff6b08;
    border: none;
    color: #ffffff;
    font-size: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
  }

  .links {
    text-align: left;
    margin-bottom: 30px;
  }

  .descripton-title {
    text-align: left;
    font-size: 12px;
    color: #878686;
    padding-bottom: 15px;
  }

  .wrapper {
    padding-left: 50px;
  }

  .title__name {
    padding: 0;
    text-align: left;
    margin-bottom: 25px;
  }

  .title__price {
    padding: 0;
    margin-bottom: 55px;
    text-align: left;
    font-size: 18px;
  }

  .favorites {
    position: relative;
    margin-right: 40px;
    color: #878686;
    text-decoration: none;
  }

  .share {
    padding-right: 40px;

    position: relative;
    color: #878686;
    text-decoration: none;
  }

  .description {
    text-align: left;
    font-size: 13px;
    line-height: 18px;
    width: 300px;
  }

  .favorites::after {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 5px;
    background-image: url(../img/heart.png);
    width: 20px;
    height: 20px;
  }

  .share::after {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    margin-left: 5px;
    background-image: url(../img/share.png);
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1240px;
  }

  .search-input {
    width: 350px;
  }

  .modal {
    width: 823px;
  }
}
