/* main */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  /* height: 100vh; */
  background-color: #f4f6fb;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.menu_btn {
  /* display: block; */
  width: 65px;
  height: 70px;
  border: 1px #e6e8e8 solid;
  /* border-radius: 50%; */
  position: relative;
}

.menu_btn-lines,
.menu_btn-lines::before,
.menu_btn-lines::after {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2px;
  margin-top: -1px;
  width: 14px;
  margin-left: -7px;
  background-color: #000000;
}

.menu_btn-lines::before,
.menu_btn-lines::after {
  content: '';
  display: block;
  transition: 500ms;
}

.menu_btn-lines::before {
  transform: translateY(-5px);
}

.menu_btn-lines::after {
  transform: translateY(5px);
}

.menu_btn-active {
  width: 100%;
  height: 100vh;
  border: 1px #e6e8e8 solid;
  position: relative;
  background-color: #f4f6fb;
}

.menu_btn-active .menu_btn-lines::before {
  transform: rotate(45deg);
}

.menu_btn-active .menu_btn-lines {
  height: 0;
  top: 10%;
  left: 90%;
}

.menu_btn-active .menu_btn-lines::after {
  transform: rotate(-45deg);
}

.menu_btn-active,
.menu_btn-active::before,
.menu_btn-active::after {
  position: absolute;
  top: 0;
  left: 0;
}
