* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f4f6fb;
  font-family: 'Montserrat', sans-serif;
}

:focus {
  outline-color: #ff6b08;
}

.container {
  width: 290px;
  margin: 0 auto;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.logo-wrapper {
  display: none;
}

.logo-wrapper a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 700;
}

.search-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.create-ad {
  display: none;
  border: none;
  background-color: #ff6b08;
  width: 220px;
  height: 70px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.create-ad:hover {
  background-color: #e75e02;
}

.modal-menu {
  width: 65px;
  height: 70px;
  background-color: transparent;
  border: none;
  border-right: 1px solid lightgrey;
  font-size: 24px;
}

.modal-menu:hover {
  background-color: rgba(211, 211, 211, 0.37);
}

.search {
  background-color: transparent;
  border: none;
  margin-right: 20px;
}

.search-input {
  width: 160px;
  border: 1px solid lightgrey;
  height: 20px;
  margin-right: 20px;
  background-color: #f4f6fb;
}

.search-input:focus {
  outline-color: #ff6b08;
}

.clear {
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  justify-content: space-between;
}

.clear-btn {
  border: none;
  font-size: 16px;
  background-color: transparent;
  height: 70px;
  padding: 0 20px;
  color: black;
  text-align: center;
  width: 220px;
}

.clear-btn:hover {
  background-color: rgba(211, 211, 211, 0.37);
}

.clear-btn span {
  font-size: 24px;
  font-weight: 700;
  transform: rotate(-180deg);
}

.footer {
  background-color: #fff;
  padding: 40px 0;
}

.footer span {
  color: #ff6b08;
}

.footer a {
  color: #ff6b08;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  font-size: 12px;
}

.footer p:not(:last-child) {
  margin-right: 20px;
}

.footer p:first-child {
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .logo-wrapper {
    display: block;
  }

  .create-ad {
    display: block;
  }

  .search-wrapper {
    flex-direction: row;
  }

  .clear {
    display: flex;
  }

  .container {
    width: 720px;
  }

  .footer .container {
    justify-content: center;
    align-items: baseline;
    color: #000107;
  }

  .footer p:first-child {
    margin-bottom: 0;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1240px;
  }
  .search-input {
    width: 350px;
  }
}
